@{
    ViewData["Title"] = "Gizlilik Politikası";
}
<div class="text-center mb-4">
    <h1 class="display-5">@ViewData["Title"]</h1>
</div>

<p class="lead text-center">Bu sayfa sitenizin gizlilik politikasını detaylandırmak için kullanılır. <br />Şu anda bu
    uygulama için özel bir gizlilik politikası bulunmamaktadır.</p>
